body {
  color: rgb(0,0,0);
  font-family: arial;
  margin: 0px;
}
div {
  min-height: 100vh;
  width: 100vw;
}
h1 {
  text-align: center;
}
h1 {
  font-size: 5em;
}
img {
  display: flex;
  padding: 5px;
  margin: 0 auto;
  border-radius: 5px;
}
ul {
    list-style: none;
    padding:10;
    margin-bottom:10%;
    font-size:5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  a{
  font-size: 5em;  
  }
